<p>Taller 1 Sistemas de Recomendación - Grupo 2</p>
<p> Requerimientos:</p>
<p> + Registrar un usuario </p>
<p> + Login  </p>
<p> + Realizar una calificación de una pelicula </p>
<p> - Realizar predicción usuario-usuario con el modelo de Jaccard, distancia coseno y distancia de Pearson. </p>
<p> - Realizar predicción item-item con el modelo de Jaccard, distancia coseno y distancia de Pearson. </p>
<p> - Parametrizar los valores que pueden afectar los modelos:  Tamaño del conjunto inicial, Tamaño del conjunto de vecinos</p>