<div class="col-md-offset-2 col-md-8 col-md-offset-2">
    <form class="form-signup">
        <h2 class="form-signup-heading">Sign up</h2>
        <input type="text" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="" 
            ng-model="signupData.username"/>
        </p>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
            ng-model="signupData.password"/>
        </p>
        <button class="btn btn-lg btn-success btn-block" type="submit" ng-click="signup(signupData)">Sign up</button>
        </p>
    </form>
</div>
