<div ng-controller="RecommendationCtrl" ng-init="loadData()">
	
	<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title">{{recommendation.business.name}}</h3>
		</div>
		<div class="modal-body">
			Address: {{recommendation.business.full_address}}<p/>
			City: {{recommendation.business.city}}<p/>
			State: {{recommendation.business.state}}<p/>
			Neighborhoods:
			<ul>
				<li ng-repeat="item in recommendation.business.neighborhoods">
					{{ item }}
				</li>
			</ul><p/>
			Reviews: {{recommendation.business.review_count}}
			<ul>
				<li ng-repeat="item in recommendation.business.reviews">
					{{ item.userName }}: {{ item.stars }}/5<p/>
				</li>
			</ul>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">OK</button>
		</div>
	</script>

	<tabset>
		<tab heading="Recommendations">
			<div class = "box">
				User:
				<select ng-model="selectedUser" ng-options="item as item.name for item in users"></select>
			</div>
			<div class = "box">
				Neighborhood:
				<select ng-model="selectedNeighborhood" ng-options="item as item.name for item in neighborhoods"></select>
			</div>
			<div class = "box">
				Day:
				<select ng-model="selectedDay" ng-options="item as item.name for item in days"></select>
			</div>
			<div class = "box">
				Time:
				<select ng-model="selectedTime" ng-options="item as item.name for item in time"></select>
			</div>
			<div class = "box2">
				<input type="text" ng-model="searchQuery" class="form-control" placeholder="Search Business" size ="30"/>
			</div>
			<div class = "box2">
				<button type="button" class="btn btn-sm btn-primary" type="submit" ng-click="search(searchQuery)">
					Search
				</button>
			</div>
			<p/>
			<div>
				<button type="button" class="btn btn-lrg btn-primary myButton" type="submit" ng-click="getRecommendations(selectedUser, selectedNeighborhood, selectedDay, selectedTime)">
					Get Recommendations
				</button>
			</div>
			<p/>

			<div ng-if="dataRecommendationExists()">
				<div class = "box3">
					<table class="table table-striped table-condensed">
						<thead>
							<tr>
								<th>Collaborative Recommender</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="recommendation in collaborativeRecommendations">
								<td>
									<strong><a ng-click="open(recommendation)">{{recommendation.business.name}}</a></strong><br/>
									<medium>Real Rating:</medium>
									<rating ng-model="recommendation.stars" max="5" readonly="false" on-leave="overStar = null" ng-click="addReview(recommendation)"></rating><br/>
									<medium>Predicted Rating:</medium>
									<rating ng-model="recommendation.computedStars" max="5" readonly="true" on-leave="overStar = null"></rating>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class = "box3">
					<table class="table table-striped table-condensed">
						<thead>
							<tr>
								<th>Item Recommender</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="recommendation in itemRecommendations">
								<td>
									<strong><a ng-click="open(recommendation)">{{recommendation.business.name}}</a></strong><br/>
									<medium>Real Rating:</medium>
									<rating ng-model="recommendation.stars" max="5" readonly="false" on-leave="overStar = null"></rating><br/>
									<medium>Predicted Rating:</medium>
									<rating ng-model="recommendation.computedStars" max="5" readonly="true" on-leave="overStar = null"></rating>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class = "box3">
					<table class="table table-striped table-condensed">
						<thead>
							<tr>
								<th>Neighborhood Recommender</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="recommendation in neighborhoodRecommendations">
								<td>
									<strong><a ng-click="open(recommendation)">{{recommendation.business.name}}</a></strong><br/>
									<medium>Real Rating:</medium>
									<rating ng-model="recommendation.stars" max="5" readonly="false" on-leave="overStar = null"></rating><br/>
									<medium>Predicted Rating:</medium>
									<rating ng-model="recommendation.computedStars" max="5" readonly="true" on-leave="overStar = null"></rating>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class = "box3">
					<table class="table table-striped table-condensed">
						<thead>
							<tr>
								<th>Day Time Recommender</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="recommendation in dayTimeRecommendations">
								<td>
									<strong><a ng-click="open(recommendation)">{{recommendation.business.name}}</a></strong><br/>
									<medium>Real Rating:</medium>
									<rating ng-model="recommendation.stars" max="5" readonly="false" on-leave="overStar = null"></rating><br/>
									<medium>Predicted Rating:</medium>
									<rating ng-model="recommendation.computedStars" max="5" readonly="true" on-leave="overStar = null"></rating>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class = "box3">
					<table class="table table-striped table-condensed">
						<thead>
							<tr>
								<th>Hybrid Recommender</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="recommendation in hybridRecommendations">
								<td>
									<strong><a ng-click="open(recommendation)">{{recommendation.business.name}}</a></strong><br/>
									<medium>Real Rating:</medium>
									<rating ng-model="recommendation.stars" max="5" readonly="false" on-leave="overStar = null"></rating><br/>
									<medium>Predicted Rating:</medium>
									<rating ng-model="recommendation.computedStars" max="5" readonly="true" on-leave="overStar = null"></rating>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div ng-if="!dataRecommendationExists()">
				<p>No Business to recommend :(</p>
			</div>
		</tab>


		<tab heading="Rated Businesses">
			<div ng-if="userReviews.length == 0">
				<p>No Business Reviews :(</p>
			</div>
			<div ng-if="userReviews.length > 0">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th>Ratings</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="review in userReviews">
							<td>
								<strong>{{review.businessName}}</strong><br/>
								<medium>Real Rating:</medium>
								<rating ng-model="review.stars" max="5" readonly="true" on-leave="overStar = null"></rating><p/>
								<medium>Predicted Collaborative Rating:</medium>
								<rating ng-model="review.collaborativeStars" max="5" readonly="true" on-leave="overStar = null"></rating><p/>
								<medium>Predicted Item Rating:</medium>
								<rating ng-model="review.itemStars" max="5" readonly="true" on-leave="overStar = null"></rating><p/>
								<p/>
								<button type="button" class="btn btn-sm btn-danger" type="submit" ng-click="delete(review)">
									Delete
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</tab>
	</tabset>
</div>